@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "RobotoSlab", sans-serif;
}