@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Catamaran";
  src: url("../fonts/Catamaran-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("../fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  font-family: "Catamaran", sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(218, 185, 252) 11.2%,
    rgb(125, 89, 252) 91.1%
  );
}

.o-container {
  max-width: 690px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
}

.o-wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.c-text-container {
  display: flex;
  border-bottom: 1px solid #ccc;

  textarea {
    flex: 1;
    height: 250px;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;

    &::placeholder {
      color: #b7b6b6;
    }
  }
  .c-output-text {
    border-radius: 0px;
    border-left: 1px solid #ccc;
  }
}

.c-text-controls {
  list-style: none;
  padding: 12px 15px;
}

.c-text-controls,
.c-language-handler,
.c-original-text__icons,
.c-original-text__icons i,
.c-translated-text__icons,
.c-translated-text__icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-original-text__icons,
.c-translated-text__icons {
  width: 38%;
}

.c-original-text__icons i,
.c-translated-text__icons i {
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}

// .c-text-controls .row.from .icons{
//   padding-right: 15px;
//   border-right: 1px solid #ccc;
// }
// .c-text-controls .row.to .icons{
//   padding-left: 15px;
//   border-left: 1px solid #ccc;
// }
// .c-text-controls .row select{
//   color: #333;
//   border: none;
//   outline: none;
//   font-size: 18px;
//   background: none;
//   padding-left: 5px;
// }
// .c-text-container textarea::-webkit-scrollbar{
//   width: 4px;
// }
// .c-text-controls .row select::-webkit-scrollbar{
//   width: 8px;
// }
// .c-text-container textarea::-webkit-scrollbar-track,
// .c-text-controls .row select::-webkit-scrollbar-track{
//   background: #fff;
// }
// .c-text-container textarea::-webkit-scrollbar-thumb{
//   background: #ddd;
//   border-radius: 8px;
// }
// .c-text-controls .row select::-webkit-scrollbar-thumb{
//   background: #999;
//   border-radius: 8px;
//   border-right: 2px solid #ffffff;
// }
// .c-text-controls .exchange{
//   color: #adadad;
//   cursor: pointer;
//   font-size: 16px;
//   transition: transform 0.2s ease;
// }
// .c-text-controls i:active{
//   transform: scale(0.9);
// }
// .o-container button{
//   width: 100%;
//   padding: 14px;
//   outline: none;
//   border: none;
//   color: #fff;
//   cursor: pointer;
//   margin-top: 20px;
//   font-size: 17px;
//   border-radius: 5px;
//   background: #5372F0;
// }

// @media (max-width: 660px){
//   .o-container{
//     padding: 20px;
//   }
//   .o-wrapper .c-text-container{
//     flex-direction: column;
//   }
//   .c-text-container .c-output-text{
//     border-left: 0px;
//     border-top: 1px solid #ccc;
//   }
//   .c-text-container textarea{
//     height: 200px;
//   }
//   .c-text-controls .row .icons{
//     display: none;
//   }
//   .o-container button{
//     padding: 13px;
//     font-size: 16px;
//   }
//   .c-text-controls .row select{
//     font-size: 16px;
//   }
//   .c-text-controls .exchange{
//     font-size: 14px;
//   }
// }
